
/* GENERAL */

html {
    height: 100%;
    margin: 0;
}

body {
    cursor: url("../img/cursors/main.cur"), progress !important;
    width: 100%;
    height: 100%;
    margin: 0;

    background: #000000;
    background: -webkit-radial-gradient( center, circle, darkgrey, black);
    background:    -moz-radial-gradient( center, circle, darkgrey, black);
    background:     -ms-radial-gradient( center, circle, darkgrey, black);
    background:      -o-radial-gradient( center, circle, darkgrey, black);
    background:         radial-gradient( circle at center, darkgrey, black);
}


header {
    width: auto;
    height: auto;
    margin: auto;
    /* background-color: white; */
    text-align: center;
    padding-top: 10px;
}

#img_banner {
    height: 100px;
    float: left;
}

/* LOGIN REGISTER PANEL */

#section_intro {
    width: 980px;
    height: 450px;
    min-width: 960px;
    margin: auto;
    margin-top: 10px;
    padding-top: 150px;
    font-size: 20px;
    text-align: center;
    z-index: 2;
    /*background-color: white;*/
    background: transparent url("../img/main/loginBackground.png") no-repeat;
    border-radius: 10px;
    border: 2px solid black;
    display: none;
}

#section_login {
    width: 45%;
    float: left;
}

#section_register {
    width: 45%;
    float:left;
    border-left: 4px solid black;
}

.center {
    margin: auto;
}

.windowsMinSize {
    min-width: 950px;
}

/* GAME */

#div_tooltip {
    position: fixed;
    top: -1000px;
    left: -1000px;
    height: 20px;
    font-size: 19px;
    background-color: rgba(255,255,255,0.3);
    z-index: 10;
}

#container {
    width: 980px;
    height: 600px;
    margin: auto;
    margin-top: 10px;
    z-index: 3;
    background-color: gray;
    border: 2px solid black;
    display: none;
}

#loading_window {
    width: 980px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    background-color: black;
    text-align:center;
}

#pourcentage {
    margin: auto;
    padding-top: 300px;
    color: white;
    font-size: 20px;
}

#section_canvas {
    height: 440px;
    display: none;
    background-image: url('../img/main/backgroundGameBox.png');
}

#section_gameContainer {
    height: 600px;
    position: absolute;
    -moz-box-shadow: 0px 0px 10px 5px #FFFFFF;
    -webkit-box-shadow: 0px 0px 10px 5px #FFFFFF;
    -o-box-shadow: 0px 0px 10px 5px #FFFFFF;
    box-shadow: 0px 0px 10px 5px #FFFFFF;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#FFFFFF, Direction=NaN, Strength=10);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* GAME MENU BOX */

#game_menu_box {
    height: 160px;
    width: 980px;
    background-image: url('../img/gameMenu/background.png');
    position: absolute;
    display:none;
    border-top: 1px solid black;
}

#mg_reglages {
    position: absolute;
    top: 0px;
    left: 0px;
}

#mg_eye_owner {
    position: absolute;
    top: 35px;
    left: 0px;
}

#mg_infos_tile {
    position: absolute;
    top: 42px;
    left: 55px;
    width: 240px;
    height: 111px;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 10px;
    border: 1px solid black;
}

#mg_joueur_ico {
    position: absolute;
    top: 5px;
    left: 68px;
}

#mg_nom_joueur {
    top: 11px;
    left: 105px;
    position: absolute;
    color: white;
    font-weight: bold;
}

#mg_treasure_ico {
    position: absolute;
    top: 5px;
    left: 187px;
}


#mg_money_joueur {
    top: 11px;
    left: 220px;
    position: absolute;
    color: white;
    font-weight: bold;
}

/* BAG */

#mg_bag_ico {
    position: absolute;
    left: 410px;
}

#mg_bag {
    position: absolute;
    top: 30px;
    left: 350px;
    border-collapse: collapse;
    -moz-box-shadow: 0px 0px 10px 2px #656565;
    -webkit-box-shadow: 0px 0px 10px 2px #000000;
    -o-box-shadow: 0px 0px 10px 2px #000000;
    box-shadow: 0px 0px 10px 2px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=10);
}

#mg_bag td{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: rgba(0,0,0, 0.5);
    position: relative;
}

.mg_bag_item {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../img/Farming/seed_set_clean.png');
}

.bagItem_quantity {
    position: absolute;
    top: 35px;
    left: 32px;
    color: red;
}

.bagItem1 { background-position: 0px 0px; }
.bagItem2 { background-position: -40px 0px; }
.bagItem3 { background-position: -80px 0px; }
.bagItem4 { background-position: -120px 0px; }
.bagItem5 { background-position: -160px 0px; }
.bagItem6 { background-position: -200px 0px; }
.bagItem7 { background-position: -240px 0px; }
.bagItem8 { background-position: -280px 0px; }
.bagItem9 { background-position: -320px 0px; }
.bagItem10 { background-image: url('../img/gameBoard/grange_petite.png'); }
.bagItem11 { background-image: url('../img/gameBoard/grange_moyen.png');}
.bagItem12 { background-image: url('../img/gameBoard/grange_grande.png');}

#mg_notif_bag {
    display: inline-block;
    width: 273px;
    position: absolute;
    top: 5px;
    left: 350px;
    color: lavender;
    font-size: 17px;
    text-align: center;
}


#btn_arroser,
#mg_arroser {
    position: absolute;
    top: 5px;
    left: 700px;
    cursor: url("../img/cursors/hand.cur"), progress !important;
}

.action_btn:hover{
    box-shadow: 0px 0px 2pt 2pt black;
}
#btn_arroser.active, #btn_fertiliser.active, #btn_alliance.active, #btn_attaque.active {
    box-shadow: 0px 0px 2pt 3pt black;
}

#btn_fertiliser,
#mg_fertiliser {
    position: absolute;
    top: 5px;
    left: 760px;
    cursor: url("../img/cursors/hand.cur"), progress !important;
}

#btn_alliance,
#mg_teleport {
    position: absolute;
    top: 5px;
    left: 820px;
    cursor: url("../img/cursors/hand.cur"), progress !important;
}

#btn_attaque,
#mg_fight {
    position: absolute;
    top: 5px;
    left: 880px;
    cursor: url("../img/cursors/hand.cur"), progress !important;
}

#mg_notifications_area {
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.5);
    width: 275px;
    height: 90px;
    top: 64px;
    position: absolute;
    left: 676px;
    overflow: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

.chatMessage {
    color: white;
}

.chatUser {
    color: yellow;
}

.chatContent {
    margin-left: 2%;
}

#new_message {
    background-color: transparent;
    border-color: transparent;
    width: 98%;
    margin-top: -3px;
    color: white;
}

#mg_new_message {
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.5);
    width: 98%;
    height: 25px;
    top: -32px;
    position: absolute;
    left: 10px;
}

#mg_arrowUp {
    position: absolute;
    top: 50px;
    left: 675px;
}

#mg_arrowBot {
    position: absolute;
    top: 100px;
    left: 675px;
}

#mg_infoList {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    list-style-type: none;
}

#mg_infoList li {
    display: inline-block;
    width: 245px;
    height: 20px;
}

#mg_infoList li.pair{
    /*background-color: #696969;*/
}

#mg_infoList li.impair{
    /*background-color: #d3d3d3;*/
}

#mg_infos_tile {
    color: white;
}

/* Notifif tile zone */

#tile_name_content {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    text-align: center;
    width: 95px;
}

#tile_infos_content {
    position: absolute;
    top: 5px;
    left: 140px;
    font-size: 10px;
}

#tile_owner {
    position: absolute;
    top: 20px;
    left: 140px;
}

#tile_image_span {
    position: absolute;
    top: 30px;
    left: 10px;
    display: inline-block;
    text-align: center;
    width: 95px;
}

#tile_image {
    margin: auto;
}

#tile_humidity_span {
    position: absolute;
    top: 45px;
    left: 135px;
}

#tile_fertility_span {
    position: absolute;
    top: 80px;
    left: 135px;
}

/* Loading map Section*/

#section_loadingMap {
    width: 980px;
    height: 440px;
    background-color: black;
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 24px;

}

#section_loadingMap_span {
    display: block;
    padding-top: 210px;
}


/* Game Main Board */

#game_main_board {
    display:none;
    width: 710px;
    height: 370px;
    background-image: url('../img/gameBoard/passportModify.png');
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 80px;
    padding: 20px 50px 20px 50px;
}

#mb_quit_button {
    position: absolute;
    top: 20px;
    left: 730px;
}

#mb_header {
    width: 100%;
    height: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: black;
}

#mb_tabs_section {
    float:left;
    text-align: center;
}

#mb_tabs_section image {
    margin-left: 10px;
}

.mb_tabs {
    width: 80px;
    height: 70px;
    opacity: 0.5;
}

.mb_tab_select {
    opacity: 1;
}

#mb_board_section {
    padding-left: 80px;
}

.mb_board_page {
    display:none;
    position: absolute;
    width: 580px;
    height: 340px;
    padding-left: 40px;
}

.mb_page_select {
    display: block;
}

#mb_board_avatar {
    border: 2px solid black;
    border-radius: 55px;
    width: 100px;
    height: 100px;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 35px;
}

#mb_p1_username {
    position: absolute;
    top: 10px;
    left: 150px;
    font-size: 24px;
    color: black;
    font-weight: bold;
}

#mb_p1_money {
    position:  absolute;
    top: 35px;
    left: 150px;
}

#mb_vs_1 {
    position: absolute;
    top: 40px;
    left: 219px;
 }

#mb_vs_2 {
    position: absolute;
    top: 40px;
    left: 352px;
}

#mb_vitrine_1 {
    position: absolute;
    top: 5px;
    left: 107px;
}

#mb_vitrine_2 {
    position: absolute;
    top: 5px;
    left: 299px;
}

#mb_vitrine_3 {
    position: absolute;
    top: 5px;
    left: 482px;
}

#mg_vitrine_farmings
{
    position: absolute;
    top: 80px;
    left: 20px;
    width: 226px;
    height: 270px;
}

#mg_vitrine_buildings
{
    position: absolute;
    top: 80px;
    left: 266px;
    width: 113px;
    height: 270px;
}

#mg_vitrine_fights
{
    position: absolute;
    top: 80px;
    left: 399px;
    width: 226px;
    height: 270px;
}

.buy_item_span {
    float: left;
    width: 102px;
    height: 43px;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.mg_seed_img {
    width:40px;
    height:40px;
    float: left;
}

.mg_coin {
    background-image: url("../img/gameBoard/miniCoin.png");
    width:40px;
    height:30px;
    float: left;
    margin-left: 10px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

#mg_seed1 { background:url("../img/Farming/seed_set_clean.png") 0px 0px; }
#mg_seed2 { background:url("../img/Farming/seed_set_clean.png") -40px 0px; }
#mg_seed3 { background:url("../img/Farming/seed_set_clean.png") -80px 0px; }
#mg_seed4 { background:url("../img/Farming/seed_set_clean.png") -120px 0px; }
#mg_seed5 { background:url("../img/Farming/seed_set_clean.png") -160px 0px; }
#mg_seed6 { background:url("../img/Farming/seed_set_clean.png") -200px 0px; }
#mg_seed7 { background:url("../img/Farming/seed_set_clean.png") -240px 0px; }
#mg_seed8 { background:url("../img/Farming/seed_set_clean.png") -280px 0px; }
#mg_seed9 { background:url("../img/Farming/seed_set_clean.png") -320px 0px; }


.mg_build_img {
    float: left;
}

#mg_build1 { background-image: url("../img/gameBoard/grange_petite.png"); width:40px; height:40px; }
#mg_build2 { background-image: url("../img/gameBoard/grange_moyen.png"); width:45px; height:40px; }
#mg_build3 { background-image: url("../img/gameBoard/grange_grande.png"); width:50px; height:40px; }

.mg_weapons_img {
    float: left;
    width:50px;
    height:50px;
}

#mg_weapon1 { background-image: url("../img/gameBoard/marteau.png"); }
#mg_weapon2 { background-image: url("../img/gameBoard/cailloux.png"); }
#mg_weapon3 { background-image: url("../img/gameBoard/hache.png"); }
#mg_weapon4 { background-image: url("../img/gameBoard/poulet.png"); }
#mg_weapon5 { background-image: url("../img/gameBoard/epee.png"); }
#mg_weapon6 { background-image: url("../img/gameBoard/nyancat.png"); }
#mg_weapon7 { background-image: url("../img/gameBoard/ak47.png"); }
#mg_weapon8 { background-image: url("../img/gameBoard/chien.png"); }
#mg_weapon9 { background-image: url("../img/gameBoard/lightSaber.png"); }
#mg_weapon10 { background-image: url("../img/gameBoard/grenade.png"); }

.mb_price_span {
    text-align: center;
    padding-top: 12px;
    margin-left: 2px;
}


















