
/* GENERAL */

html {
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;

    background: #000000;

    /* Anciens navigateurs */
    /*background: #ffffff url("../img/main/gradient-bg.png") repeat-x top;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;*/
    /* Navigateurs récents */
    /*background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(olivedrab),
        to(aliceblue)
    );
    background: -webkit-linear-gradient(
        top,
        olivedrab,
        aliceblue
    );
    background: -moz-linear-gradient(
        top,
        olivedrab,
        aliceblue
    );
    background: -o-linear-gradient(
        top,
        olivedrab,
        aliceblue
    );
    background: linear-gradient(
        top,
        olivedrab,
        aliceblue
    );*/
    background: -webkit-radial-gradient( center, circle, darkgrey, black);
    background:    -moz-radial-gradient( center, circle, darkgrey, black);
    background:     -ms-radial-gradient( center, circle, darkgrey, black);
    background:      -o-radial-gradient( center, circle, darkgrey, black);
    background:         radial-gradient( circle at center, darkgrey, black);
}


header {
    width: auto;
    height: auto;
    margin: auto;
    /* background-color: white; */
    text-align: center;
    padding-top: 10px;
}

#img_banner {
    height: 100px;
    float: left;
}

/* LOGIN REGISTER PANEL */

#section_intro {
    width: 980px;
    height: 450px;
    min-width: 960px;
    margin: auto;
    margin-top: 10px;
    padding-top: 150px;
    font-size: 20px;
    text-align: center;
    z-index: 2;
    /*background-color: white;*/
    background: transparent url("../img/main/loginBackground.png") no-repeat;
    border-radius: 10px;
    border: 2px solid black;
    display: none;
}

#section_login {
    width: 45%;
    float: left;
}

#section_register {
    width: 45%;
    float:left;
    border-left: 4px solid black;
}

.center {
    margin: auto;
}

.windowsMinSize {
    min-width: 950px;
}

/* GAME */

#container {
    width: 980px;
    height: 600px;
    margin: auto;
    margin-top: 10px;
    z-index: 3;
    background-color: gray;
    border: 2px solid black;
    display: none;
}

#loading_window {
    width: 980px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    background-color: black;
    text-align:center;
}

#pourcentage {
    margin: auto;
    padding-top: 300px;
    color: white;
    font-size: 20px;
}

#section_canvas {
    height: 440px;
    display: none;

}

#section_gameContainer {
    height: 600px;
    position: absolute;
    -moz-box-shadow: 0px 0px 10px 5px #FFFFFF;
    -webkit-box-shadow: 0px 0px 10px 5px #FFFFFF;
    -o-box-shadow: 0px 0px 10px 5px #FFFFFF;
    box-shadow: 0px 0px 10px 5px #FFFFFF;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#FFFFFF, Direction=NaN, Strength=10);
}

/* GAME MENU BOX */

#game_menu_box {
    height: 160px;
    width: 980px;
    background-image: url('../img/gameMenu/background.png');
    position: absolute;
    display:none;
    border-top: 1px solid black;
}

#mg_reglages {
    position: absolute;
    top: 0px;
    left: 0px;
}

#mg_eye_owner {
    position: absolute;
    top: 35px;
    left: 0px;
}

#mg_infos_tile {
    position: absolute;
    top: 42px;
    left: 55px;
    width: 240px;
    height: 111px;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 10px;
    border: 1px solid black;
}

#mg_joueur_ico {
    position: absolute;
    top: 5px;
    left: 68px;
}

#mg_nom_joueur {
    top: 11px;
    left: 105px;
    position: absolute;
    color: white;
    font-weight: bold;
}

#mg_treasure_ico {
    position: absolute;
    top: 5px;
    left: 187px;
}


#mg_money_joueur {
    top: 11px;
    left: 220px;
    position: absolute;
    color: white;
    font-weight: bold;
}


#mg_bag_ico {
    position: absolute;
    left: 410px;
}

#mg_bag {
    position: absolute;
    top: 30px;
    left: 350px;
    border-collapse: collapse;
    -moz-box-shadow: 0px 0px 10px 2px #656565;
    -webkit-box-shadow: 0px 0px 10px 2px #000000;
    -o-box-shadow: 0px 0px 10px 2px #000000;
    box-shadow: 0px 0px 10px 2px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=10);
}

#mg_bag td{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: rgba(0,0,0, 0.5);
}

#mg_arrosoir {
    position: absolute;
    top: 5px;
    left: 700px;
}

#mg_engrais {
    position: absolute;
    top: 5px;
    left: 760px;
}

#mg_teleport {
    position: absolute;
    top: 5px;
    left: 820px;
}

#mg_map {
    position: absolute;
    top: 5px;
    left: 880px;
}

#mg_notifications_area {
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.5);
    width: 275px;
    height: 90px;
    top: 64px;
    position: absolute;
    left: 676px;
}

#mg_arrowUp {
    position: absolute;
    top: 50px;
    left: 675px;
}

#mg_arrowBot {
    position: absolute;
    top: 100px;
    left: 675px;
}

#mg_infoList {
    position: absolute;
    top: 70px;
    left: 700px;
    list-style-type: none;
}

#mg_infoList li {
    display: inline-block;
    width: 245px;
    height: 20px;
}

#mg_infoList li.pair{
    /*background-color: #696969;*/
}

#mg_infoList li.impair{
    /*background-color: #d3d3d3;*/
}

#mg_infos_tile {
    color: white;
}

/* Notifif tile zone */

#tile_name_content {
    position: absolute;
    top: 5px;
    left: 5px;
    display: inline-block;
    text-align: center;
    width: 95px;
}

#tile_infos_content {
    position: absolute;
    top: 5px;
    left: 140px;
    font-size: 10px;
}

#tile_owner {
    position: absolute;
    top: 20px;
    left: 140px;
}

#tile_image_span {
    position: absolute;
    top: 30px;
    left: 10px;
    display: inline-block;
    text-align: center;
    width: 95px;
}

#tile_image {
    margin: auto;
}

#tile_humidity_span {
    position: absolute;
    top: 45px;
    left: 135px;
}

#tile_fertility_span {
    position: absolute;
    top: 80px;
    left: 135px;
}

/* Loading map Section*/

#section_loadingMap {
    width: 980px;
    height: 440px;
    background-color: black;
    position: absolute;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 24px;

}

#section_loadingMap_span {
    display: block;
    padding-top: 210px;
}


/* Game Main Board */

#game_main_board {
    display:none; /* TODO DELETE HERE */
    width: 815px;
    height: 420px;
    background-image: url('../img/gameMenu/background2.PNG');
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 80px;
    border: 2px solid black;
}

#mb_header {
    width: 100%;
    height: 20px;
    background-color: rgba(0,0,0, 0.5);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

#mb_tabs_section {
    float:left;
}

.mb_tabs {
    width: 80px;
    height: 80px;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    border-right: 2px solid black;
}

#mb_tab_mainBoard {background-color: blue;}
#mb_tab_buy {background-color: red;}
#mb_tab_sell {background-color: green;}
#mb_tab_fights {background-color: yellow;}
#mb_tab_achievments {background-color: purple;}

#mb_board_section {
    padding-left: 80px;
}

.mb_board_page {
    position: absolute;
    width: 735px;
    height: 400px;
    background-color: gray;
}















