
/* GENERAL */

html {
    height: 100%;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;

    /*background-image: url('../img/main/background.jpg');*/

    /* Anciens navigateurs */
    /*background: #ffffff url("../img/main/gradient-bg.png") repeat-x top;
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;*/
    /* Navigateurs récents */
    /*background: -webkit-gradient(
        linear,
        left top, left bottom,
        from(olivedrab),
        to(aliceblue)
    );
    background: -webkit-linear-gradient(
        top,
        olivedrab,
        aliceblue
    );
    background: -moz-linear-gradient(
        top,
        olivedrab,
        aliceblue
    );
    background: -o-linear-gradient(
        top,
        olivedrab,
        aliceblue
    );
    background: linear-gradient(
        top,
        olivedrab,
        aliceblue
    );*/
    background: -webkit-radial-gradient( center, circle, darkgrey, black);
    background:    -moz-radial-gradient( center, circle, darkgrey, black);
    background:     -ms-radial-gradient( center, circle, darkgrey, black);
    background:      -o-radial-gradient( center, circle, darkgrey, black);
    background:         radial-gradient( circle at center, darkgrey, black);
}


header {
    width: 980px;
    height: 75px;
    margin: auto;
    /* background-color: white; */
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#img_banner {
    height: 100px;
    float: left;
}

/* LOGIN REGISTER PANEL */

#section_intro {
    width: 980px;
    height: 450px;
    min-width: 960px;
    margin: auto;
    margin-top: 30px;
    padding-top: 150px;
    font-size: 20px;
    text-align: center;
    z-index: 2;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    display: none;
}

#section_login {
    width: 45%;
    float: left;
}

#section_register {
    width: 45%;
    float:left;
    border-left: 4px solid black;
}

.center {
    margin: auto;
}

.windowsMinSize {
    min-width: 950px;
}

/* GAME */

#container {
    width: 980px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    z-index: 3;
    background-color: gray;
    border: 2px solid black;
    display: none;
}

#loading_window {
    width: 980px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    background-color: black;
    text-align:center;
}

#pourcentage {
    margin: auto;
    padding-top: 300px;
    color: white;
    font-size: 20px;
}

#section_canvas {
    height: 440px;
    display: none;
}

/* GAME MENU BOX */

#game_menu_box {
    height: 160px;
    width: 980px;
    background-color: white;
    position: absolute;
    display:none;
}

#mg_reglages {
    position: absolute;
    top: 0px;
    left: 0px;
}

#mg_map_minimize {
    position: absolute;
    top: 35px;
    left: 30px;
}

.mg_span_infos {
    position: absolute;
    display: inline-block;
    background-color: #778899;
    width: 50px;
    height: 20px;
}

#mg_nom_joueur {
    top: 45px;
    left: 174px;
}

#mg_money_joueur {
    top: 75px;
    left: 174px;
}

#mg_autres_joueur {
    top: 105px;
    left: 174px;
}

#mg_bag {
    position: absolute;
    top: 25px;
    left: 320px;
    border-collapse: collapse;
}

#mg_bag td{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: inline-block;
}

#mg_arrosoir {
    position: absolute;
    top: 5px;
    left: 700px;
}

#mg_engrais {
    position: absolute;
    top: 5px;
    left: 760px;
}

#mg_alliance {
    position: absolute;
    top: 5px;
    left: 820px;
}

#mg_map {
    position: absolute;
    top: 5px;
    left: 880px;
}

#mg_arrowUp {
    position: absolute;
    top: 50px;
    left: 675px;
}

#mg_arrowBot {
    position: absolute;
    top: 100px;
    left: 675px;
}

#mg_infoList {
    position: absolute;
    top: 70px;
    left: 700px;
    list-style-type: none;
}

#mg_infoList li {
    display: inline-block;
    width: 245px;
    height: 20px;
}

#mg_infoList li.pair{
    background-color: #696969;
}

#mg_infoList li.impair{
    background-color: #d3d3d3;
}





















